body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
h2 {
    padding-top: 10px;
}
h1 {
    margin-bottom: 1px;
    padding-top: 80px
}
hr {
    width: 3%;
    border: 3px solid rgb(37,37,37);
    border-radius: 5px;
}
.box {
    display: grid;
    grid-template-columns: 497px 497px 497px;
    grid-template-rows: 300px 300px;
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 90px;
    box-shadow: 0px 1px 4px lightgray;
}
.item1 {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
}
.item2 {
    background-image: url(../img/tires1.png);
    background-size: 100%;
}
.item4 {
    background-image: url(../img/tires2.png);
    background-size: 100%;
}
.item6 {
    background-image: url(../img/tires3.png);
    background-size: 100%;
}
button {
    background-color: white;
    width: 35%;
    border: hidden;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}